
//定义元素相对于父元素居中
@mixin center-by-parent($direct: xy) {
    position: absolute;
    @if ($direct == x) {
        left: 50%;
        transform: translate(-50%, 0);
    }@else if ($direct == y) {
        top: 50%;
        transform: translate(0, -50%);
    }@else if ($direct == xy) {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
//定义flex居中
@mixin flex-align-center {
    display: flex;
    align-items: center;
}
@mixin flex-justify($dir: center) {
    display: flex;
    justify-content: $dir;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



