/*
 * 常见动画效果
*/ 

//=====================================input框输入错误，左右摆动效果====================================//
@keyframes refuse {
    0% {
        transform: translate3D(10px, 0, 0);
    }
    20% {
        transform: translate3D(-10px, 0, 0);
    }
    40% {
        transform: translate3D(10px, 0, 0);
    }
    60% {
        transform: translate3D(-10px, 0, 0);
    }
    80% {
        transform: translate3D(10px, 0, 0);
    }
    100% {
        transform: translate3D(-10px, 0, 0);
    }
}
.animation-refuse {
    animation: refuse .4s;
    border: 1px solid rgb(179, 68, 68);
}


.fade-enter-active {
    animation: fade-in .3s;
}
.fade-leave-active {
    animation: fade-out .3s;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3D(0, -20px, 0);
    }
    100% {
        transform: translate3D(0, 0, 0);
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translate3D(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -20px, 0);
    }
}