//============================================================================================//
//==================================header相关变量的定义=======================================//
//============================================================================================//
$header-height:                             60px;//------------------------------------------------------------------------头部高度
$header-background-color:                   $theme-color!default;//--------------------------------------------------------头部背景色

$header-color:                              #fafafa;//-------------------------------------------------------------------头部文字颜色
$header-padding-left:                       3rem;//------------------------------------------------------------------------头部左边距
$header-padding-right:                      8rem;//------------------------------------------------------------------------头部右边距


//banner相关变量定义
$banner-width:                              200px !default;//--------------------------------------------------------------banner宽度
$banner-background-color:                   #364A5E;//-------------------------------------------------------------------banner北京颜色
$banner-background-hover-color:             darken(#364A5E, 10%) !default;//---------------------------------------------
$banner-background-hover-font-color:        #fff;//----------------------------------------------------------------------
$header-main-menu-list-padding:             2rem !default;//---------------------------------------------------------------
$banner-color:                              #fafafa;//-------------------------------------------------------------------

$banner-list-height:                        60px!default;//----------------------------------------------------------------
$banner-list-border-bottom:                 1px solid #27333F !default;//------------------------------------------------
$banner-list-active-color:                  #2D3B46;//-------------------------------------------------------------------
$banner-list-font-active-color:             rgb(129, 194, 163);//--------------------------------------------------------
$banner-expand-transition:                  height .3s!default;//----------------------------------------------------------


//content内容区域相关变量定义
$container-padding:                         30px!default;//----------------------------------------------------------------
$container-background-color:                #f2f3f4!default;//-----------------------------------------------------------
