/*
*  一些常见的类名
*/
//align
.align-baseline    { vertical-align: baseline !important; } // 浏览器默认
.align-top         { vertical-align: top !important; }
.align-middle      { vertical-align: middle !important; }
.align-bottom      { vertical-align: bottom !important; }
.align-text-bottom { vertical-align: text-bottom !important; }
.align-text-top    { vertical-align: text-top !important; }

//常见边距
@each $direct,$num in $com-padding-left {
    @include make-padding-left($direct, $num);
}
@each $direct,$num in $com-padding-right {
    @include make-padding-right($direct, $num);
}
@each $direct,$num in $com-padding-top {
    @include make-padding-top($direct, $num);
}
@each $direct,$num in $com-padding-bottom {
    @include make-padding-bottom($direct, $num);
}
@each $direct,$num in $com-margin-left {
    @include make-margin-left($direct, $num);
}
@each $direct,$num in $com-margin-right {
    @include make-margin-right($direct, $num);
}
@each $direct,$num in $com-margin-top {
    @include make-margin-top($direct, $num);
}
@each $direct,$num in $com-margin-bottom {
    @include make-margin-bottom($direct, $num);
}
//clearfix
.clearfix {
    &::after {
       display: block; 
       content: "";
       clear: both;
    }
}
//cursor
.cursor-pointer {
    cursor: pointer;
}


//float
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}

//flex
.flex {
    display: flex;
    flex-wrap: wrap;
    .flex-align-center {
        align-items: center;
    }
    .flex-justify-center {
        justify-content: center;
    }

}

//box-shadow
.shadow {
    box-shadow: $box-shadow-sm !important;
}
.shadow-sm {
    box-shadow: $box-shadow-sm !important;
}
.shadow-lg {
    box-shadow: $box-shadow-lg !important;
}



//text-hidden
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
//text-center
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-nowrap {
    white-space: nowrap;
}
//遮罩层
.shadow-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $shadow-mask;
    z-index: $zindex-shadow;
}
//沾满整个屏幕
.full-screen {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


//元素相对于父元素居中
.x-y-center {
    @include center-by-parent(xy);
}
.x-center {
    @include center-by-parent(x);
}
.y-center {
    @include center-by-parent(y);
}

//圆形头像
.round-face {
    display: inline-block;
    width: $round-face-radius;
    height: $round-face-radius;
    border-radius: 50%;
    >img {
        width: 100%;
        height: 100%;
    }
    &.round-face-lg {
        width: $round-face-radius-lg;
        height: $round-face-radius-lg;
    }
    &.round-face-sm {
        width: $round-face-radius-sm;
        height: $round-face-radius-sm;
    }
}

//主题颜色
@each $key,$val in $colors {
    .#{$key} {
        color: $val;
    }
}
//背景颜色
@each $key,$val in $colors {
    .com-bg-#{$key} {
        background-color: $val;
    }
}
//文字字重
@each $key,$val in $font-weights {
    .#{$key} {
        font-weight: $val;
    }
}

//字体大小
@each $key,$val in $fonts {
    .#{$key} {
        font-size: $val;
    }
}


//去除padding和margin
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0!important;
}


//===========================border===========================//
@each $key,$val in $colors {
    .border-#{$key} {
        border: 1px solid $val;
    }
}
//=========================颜色==============================//
//主题颜色(字体)
@each $key,$val in $colors {
    .text-#{$key} {
        color: $val;
    }
}
//字体颜色(灰色)
@each $key, $val in $gray {
    .text-gray-#{$key} {
        color: $val;
    }
}
//背景颜色
@each $key,$val in $colors {
    .com-bg-#{$key} {
        background-color: $val;
    }
}
@each $key, $val in $gray {
    .com-bg-gray-#{$key} {
        background-color: $val;
    }
}
//========================display(flex,block)===============================//
// @each $key,$val in $grid-breakpoints {
//     @media(min-width: $val) {
//         .d-#{$key}-block {
//             display: block;
//         }
//         .d-#{$key}-inline {
//             display: inline;
//         }
//         .d-#{$key}-inline-block {
//             display: inline-block;
//         }
//         .d-#{$key}-none {
//             display: none;
//         }
//         .d-#{$key}-flex {
//             display: flex;
//             &.flex-#{$key}-row {
//                 flex-direction: row;
//             }
//             &.flex-#{$key}-column {
//                 flex-direction: column;
//             }

//             &.justify-content-#{$key}-start {
//                 justify-content: flex-start;
//             }
//             &.justify-content-#{$key}-center {
//                 justify-content: center;
//             }
//             &.justify-content-#{$key}-end {
//                 justify-content: flex-end;
//             }
//             &.justify-content-#{$key}-around {
//                 justify-content: space-around;
//             }
//             &.justify-content-#{$key}-between {
//                 justify-content: space-between;
//             }

//             &.align-items-#{$key}-start {
//                 align-items: flex-start;
//             }
//             &.align-items-#{$key}-center {
//                 align-items: center;
//             }
//             &.align-items-#{$key}-end {
//                 align-items: flex-end;
//             }
//             &.align-items-#{$key}-around {
//                 align-items: space-around;
//             }
//             &.align-items-#{$key}-between {
//                 align-items: space-between;
//             }
            
//         }
//         .d-#{$key}-inline-flex {
//             display: inline-flex;
//         }
//     }
// }
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
    &.flex-row {
        flex-direction: row;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.justify-start {
        justify-content: flex-start;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-around {
        justify-content: space-around;
    }
    &.justify-between {
        justify-content: space-between;
    }

    &.align-start {
        align-items: flex-start;
    }
    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.align-around {
        align-items: space-around;
    }
    &.align-between {
        align-items: space-between;
    }
}
.d-inline-flex {
    display: inline-flex;
    &.flex-row {
        flex-direction: row;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.justify-content-start {
        justify-content: flex-start;
    }
    &.justify-content-center {
        justify-content: center;
    }
    &.justify-content-end {
        justify-content: flex-end;
    }
    &.justify-content-around {
        justify-content: space-around;
    }
    &.justify-content-between {
        justify-content: space-between;
    }

    &.align-items-start {
        align-items: flex-start;
    }
    &.align-items-center {
        align-items: center;
    }
    &.align-items-end {
        align-items: flex-end;
    }
    &.align-items-around {
        align-items: space-around;
    }
    &.align-items-between {
        align-items: space-between;
    }
}
//======================================文字相关==========================//
//文字字重
@each $key,$val in $font-weights {
    .#{$key} {
        font-weight: $val;
    }
}
//字体大小
$h-size: (
    text-h1: 3.5rem,
    text-h2: 3rem,
    text-h3: 2.5rem,
    text-h4: 2rem,
    text-h5: 1.5rem,
);

@each $key,$val in $fonts {
    .#{$key} {
        font-size: $val;
    }
}
@each $key,$val in $h-size {
    .#{$key} {
        font-size: $val;
    }
}


//text-hidden
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
//text-center
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-justify {
    text-align: justify;
}
.text-right {
    text-align: right;
}
//============================常见高度和宽度====================================//
$com-width: (
    "w-25": 25%,
    "w-45": 45%,
    "w-50": 50%,
    "w-75": 75%,
    "w-100": 100%
);
$com-height: (
    "h-25": 25%,
    "h-45": 45%,
    "h-50": 50%,
    "h-75": 75%,
    "h-100": 100%  
);
$com-max-width: (
    "mw-25": 25%,
    "mw-45": 45%,
    "mw-50": 50%,
    "mw-75": 75%,
    "mw-100": 100%   
);
$com-max-height: (
    "mh-25": 25%,
    "mh-45": 45%,
    "mh-50": 50%,
    "mh-75": 75%,
    "mh-100": 100%
);

// @each $key,$val in $grid-breakpoints {
//     @each $key2,$val2 in $com-width {
//         .#{$key2}-#{$key} {
//             @media(min-width: $val) {
//                 width: $val2
//             }
//         }
//     }
//     @each $key2,$val2 in $com-height {
//         .#{$key2}-#{$key} {
//             @media(min-width: $val) {
//                 height: $val2
//             }
//         }
//     }
//     @each $key2,$val2 in $com-max-width {
//         .#{$key2}-#{$key} {
//             @media(min-width: $val) {
//                 max-width: $val2
//             }
//         }
//     }
//     @each $key2,$val2 in $com-max-height {
//         .#{$key2}-#{$key} {
//             @media(min-width: $val) {
//                 max-height: $val2
//             }
//         }
//     }
// }

@each $key,$val in $com-width {
    .#{$key} {
        width: $val
    }
}
@each $key,$val in $com-height {
    .#{$key} {
        height: $val
    }
}
@each $key,$val in $com-max-width {
    .#{$key} {
        max-width: $val
    }
}
@each $key,$val in $com-max-height {
    .#{$key} {
        max-height: $val
    }
}
//============================常见间距====================================//
$spacer: 3rem !default;
$spacers: (
    "0": 0,
    "1": ($spacer * .25),
    "2": ($spacer * .5),
    "3": ($spacer * 1),
    "4": ($spacer * 1.25),
    "5": ($spacer * 1.5),
);


// @each $key,$val in $grid-breakpoints {
//     @each $key2,$val2 in $spacers {
//         @media (min-width: $val) {
//             .mt-#{$key}-#{$key2} {
//                 margin-top: $val2;
//             }
//             .ml-#{$key}-#{$key2} {
//                 margin-left: $val2;
//             }
//             .mr-#{$key}-#{$key2} {
//                 margin-right: $val2;
//             }
//             .mb-#{$key}-#{$key2} {
//                 margin-bottom: $val2;
//             }
//             .mx-#{$key}-#{$key2} {
//                 margin-left: $val2;
//                 margin-right: $val2;
//             }
//             .my-#{$key}-#{$key2} {
//                 margin-top: $val2;
//                 margin-bottom: $val2;
//             }

//             .pt-#{$key}-#{$key2} {
//                 padding-top: $val2;
//             }
//             .pl-#{$key}-#{$key2} {
//                 padding-left: $val2;
//             }
//             .pr-#{$key}-#{$key2} {
//                 padding-right: $val2;
//             }
//             .pb-#{$key}-#{$key2} {
//                 padding-bottom: $val2;
//             }
//             .px-#{$key}-#{$key2} {
//                 padding-left: $val2;
//                 padding-right: $val2;
//             }
//             .py-#{$key}-#{$key2} {
//                 padding-top: $val2;
//                 padding-bottom: $val2;
//             }
//         }
//     }
// }
@each $key,$val2 in $spacers {
    .mt-#{$key} {
        margin-top: $val2;
    }
    .ml-#{$key} {
        margin-left: $val2;
    }
    .mr-#{$key} {
        margin-right: $val2;
    }
    .mb-#{$key} {
        margin-bottom: $val2;
    }
    .mx-#{$key} {
        margin-left: $val2;
        margin-right: $val2;
    }
    .my-#{$key} {
        margin-top: $val2;
        margin-bottom: $val2;
    }

    .pt-#{$key} {
        padding-top: $val2;
    }
    .pl-#{$key} {
        padding-left: $val2;
    }
    .pr-#{$key} {
        padding-right: $val2;
    }
    .pb-#{$key} {
        padding-bottom: $val2;
    }
    .px-#{$key} {
        padding-left: $val2;
        padding-right: $val2;
    }
    .py-#{$key} {
        padding-top: $val2;
        padding-bottom: $val2;
    }
}
//==============================border-radius=================//
$border-radius: (
    "radius-sm": 2px,
    "radius-xs": 3px,
    "radius-md": 4px,
    "radius-bg": 5px,
    "radius-lg": 6px,
    "radius-round": 50%
);
@each $key, $val in $border-radius {
    .#{$key} {
        border-radius: $val;
    }
}
//==============================圆形头像=====================//
// .round-face {
//     width: 100px;
//     height: 100px;
//     border-radius: 50%;
//     img {
//         width: 100%;
//         height: 100%;
//         border-radius: 50%;
//     }
//     &.small {
//         width: 100px;
//         height: 100px;
//     }
//     &.big {
//         width: 150px;
//         height: 150px;
//     }
// }